.container{
    display: flex;
    justify-content: space-evenly;
}

#imgproducto{
    height: 200px;
}

.botones{
    display: flex;
    justify-content: space-evenly;
}
.btncancelar{
    border: 1px solid black;
    border-radius: 5px;
}

#btncancelar{
    padding: 5px;
    text-decoration: none;
}