{% extends "useradmin.html" %}
{% block admin %}
<h1>Agregar un Nuevo Producto</h1>

<form action="agregarproducto" method="post" enctype=multipart/form-data>
    <div class="container">
        <div class="row">
          <div class="col-8">
                <label for="nombreproducto" class="col-sm-12 col-form-label">Nombre del Producto</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="nombreproducto" name="nombreproducto" value="">
                </div>            
                <label for="imagen" class="col-sm-12 col-form-label">Imagen</label>
                <div class="col-sm-12">
                    <img src="" value=""><br>                    
                </div>    
                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="imagen" name="imagen">
                    <label class="input-group-text" for="imagen">Cargar Imagen</label>
                </div>  
                <label for="descripcion" class="col-sm-12 col-form-label">Descripción Corta del Producto</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="descripcion" name="descripcion" value="">
                </div>  
                <label for="cantidad" class="col-sm-12 col-form-label">Cantidad</label>
                <div class="col-sm-12">
                  <input type="number" class="form-control" id="cantidad" name="cantidad" value="">
                 </div>         
            </div>
          <div class="col-4">
                <label for="precio" class="col-sm-12 col-form-label">Precio</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" id="precio" name="precio" value="">
                 </div>
                <label for="descripciondet" class="col-sm-12 col-form-label">Descripción Detallada</label>
                <div class="col-sm-12">
                    <textarea name="descripciondet" id="descripciondet" cols="30" rows="10"></textarea>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary btn-lg">Guardar cambios</button>
                </div>
          </div>
        </div>
      </div>
</form>
<br><br><br>



{% endblock %}