{% extends "useradmin.html" %}
{% block admin %}
<link rel="stylesheet" href="/static/style.css">
<div class="container">
    <div class="datosproducto">
        <div class="nombreproducto">
            <h5>NOMBRE DEL PRODUCTO</h5>
        </div>
        <div class="imgproducto">
            <img src="{{url_for('static', filename='producto0.jpg')}}" id="imgproducto" alt=""> 
        </div>
    </div>

    <div class="cajacomentario">
        <form  method="POST">
            <div class="textocomentario">
                <div><p>Escribe tu opinion: </p></div>
                <div class="cajatexto"><textarea name="comtxt" id="comtxt" cols="50" rows="10" required></textarea></div>
            </div>
            <div class="resumen">
                <div><p>Resume tu opinión en una frase (Opcional):</p></div>
                <div class="cajatexto"><textarea name="comtxt2" id="comtxt2" cols="50" rows="2"></textarea></div>
            </div>
            <div class="resumen">
                <div><p>Resume tu opinión en un numero (Opcional):</p></div>
                <div class="cajatexto"><textarea name="comtxt3" id="comtxt3" cols="50" rows="2"></textarea></div>
            </div>
            <input type="text" name="idP" id="idP" value="1" disabled>
                          
                <button type="button" class="btn btn-primary" name="cancelar" id="btncancelar" value="algo">Cancelar</button>
                <button type="submit" class="btn btn-primary" name="enviar">Enviar</button>
            
        </form>
    </div>
</div>
<br><br><br>
{% endblock %}