{% extends "navbar-footer.html" %}
{% block content %}
<br><br><br><br>
{% for producto in productos %}
  <div class="card mb-3 b-3 px-3" style="max-width: 98%">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../static/{{producto[3]}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{producto[1]}}</h5>
          <p class="card-text">{{producto[4]}}</p>
          <p class="card-text"><small class="text-muted">Precio ${{producto[2]}}</small></p>

          <form class="" action="/producto">
            <button type="submit" class="btn btn-primary" name="verproducto" value="{{producto[0]}}">Detalles</button>
          </form>     
          <form class="" action="/comprar">
            <button type="submit" class="btn btn-success" name="comprarproducto" value="{{producto[0]}}">Comprar</button>
          </form> 
          <form class="" action="/carrocompras">
            <button type="submit" class="btn btn-warning" name="agregarroducto" value="{{producto[0]}}">Agregar al Carrito</button>
          </form> 
        </div>
      </div>
    </div>
  </div>
{% endfor %}
<br><br><br>
{% endblock %}
