{% extends "useradmin.html" %}
{% block admin %}
<h1>Página de Administración de usuarios.</h1>
<h2>Aquí se le puede cambiar el rol del usaurio.</h2>
{% for usr in usuarios %}
<div class="card text-dark bg-light mb-3" ">
    <div class="row g-0 align-items-center">      
      <div class="col-md-3 text-center">
        <i class="bi-person-circle" style="font-size: 3rem; color: rgb(12, 29, 65);"></i>
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">{{usr.nombre}}</h5>
          <p class="card-text">{{usr.username}}</p>
          <p class="card-text"><small class="text-muted">Rol: {{usr.rol}}</small></p>
          <!--Botón para seleccionar el rol-->
          
            <div class="btn-group">
                <button class="btn btn-secondary btn-lg" type="button">
                Asignar Rol
                </button>
                <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/usuarios/{{usr.username}}/0">Cliente</a></li>
                    <li><a class="dropdown-item" href="/usuarios/{{usr.username}}/1">Administrador</a></li>
                    <li><a class="dropdown-item" href="/usuarios/{{usr.username}}/2">Super Administrador</a></li>
                </ul>
            </div>
          <!--Fin Botón selecionar rol-->         
        </div>
      </div>
      <!--Otro-->
      <div class="col-3">
        <form action="/eliminarusuario" method="post" class="">
          <button class="btn btn-lg btn-danger" type="submit" name="usuario" value="{{usr.username}}">Eliminar Usuario</button>
        </form>
      </div> 
    </div>
  </div>  
{% endfor %}
<br><br><br>
{% endblock %}